@*-File Name: Browse.cshtml
    - Author's Name: Akhil Thakkar(200300312) and Gurpanth Singh(200299024)
    - Website Name: aromarestaurant.azurewebsites.net
    - Full Description: This file browses the Menu type from the
        model "Menutype" and shows list of menu types restaurant. ()*@ 
@using AromaRestaurant.Models
@model MenuType

@{
    ViewBag.Title = "Browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2  style="font-size:x-large">Browsing Types of Menu: @Model.Name</h2>
<hr />

<ul>
    @foreach (MenuItem item in Model.MenuItems)
    {
        <li style="font-size:x-large">@Html.ActionLink(item.MenuName, "Details", new { id = item.MenuItemId })</li>
    }
</ul>
