@*-File Name: Index.cshtml
    - Author's Name: Akhil Thakkar(200300312) and Gurpanth Singh(200299024)
    - Website Name: aromarestaurant.azurewebsites.net
    - Full Description: This file displays the type of menu and
        lets the user select one menu and lead them to menu items
        about the restaurant. ()*@ 
@using AromaRestaurant.Models
@model IEnumerable<MenuType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Browse Menu Types:</h2>
<p>
    Select from @Model.Count() different Menu Types:
</p>

<ul>
    @foreach ( MenuType MenuItem in Model)
    {
        <li>@Html.ActionLink(MenuItem.Name, "Browse", new { MenuType = MenuItem.Name })</li>
    }
</ul>
