@*-File Name: About.cshtml
    - Author's Name: Akhil Thakkar(200300312) and Gurpanth Singh(200299024)
    - Website Name: aromarestaurant.azurewebsites.net
    - Full Description: This file displays the information about the restaurant.*@ 
@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p style="color:bisque">Delighted to be considered Barrie's finest, Chef Brothers Akhil and Gurpanth have committed 18 <br /> years tantalizing the palates of their customers.  Word-of-mouth literally travels,<br /> as their following includes customers from as far away as several European countries.  Their culinary prowess<br /> makes Tara Indian Cuisine Limited a most unique "palatal experience." Catering to their customers, these<br /> easy-going brothers are happy to customize a meal to suit individual palates.</p>
