@{
    ViewBag.Title = "Contact";
}
@{
    ViewBag.Title = "Contact";
}


<style>
    .jumbotron {
        background: rgba(71, 71, 71, 0.5);
    }

    .well well-sm {
        color: rgba(71, 71, 71, 0.5);
    }
</style>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12" style="color:#ffffff">
                <h1 class="h1">
                    Contact us <small>Feel free to contact us</small>


                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Name
                                </label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" required="required" />
                            </div>
                            <div class="form-group">
                                <label for="email">
                                    Email Address
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-envelope"></span>
                                    </span>
                                    <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="subject">
                                    Subject
                                </label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    <option value="na" selected="">Choose One:</option>
                                    <option value="service">General Customer Service</option>
                                    <option value="suggestions">Suggestions</option>
                                    <option value="product">Product Support</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">
                                    Message
                                </label>
                                <textarea name="message" id="message" class="form-control" rows="9" cols="25" required="required"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                Send Message
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4" style="color:#ffffff">
            <form>
                <span class="glyphicon glyphicon-globe"></span> Our office</>
                <address>
                    <strong>Aroma Restaurant</strong><br>
                    795 Parkplace Ave, Suite 600<br>
                    Barrie, ON 94107<br>
                    <abbr title="Phone">
                        P:
                    </abbr>
                    (123) 456-7890
                </address>

                <div id="wrap">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe id="frame" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2853.520228503105!2d-79.68251288492587!3d44.34036321574255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1469650377672" frameborder="0"></iframe>
                    </div>
                </div>
            </form>
        </div>


    </div>
    <div>
        <a href="https://www.facebook.com/Gurpanth.singh96"><i class="fa fa-facebook fa-2x" aria-hidden="true" style="color:#3b5998"></i></a>
        <a href="https://plus.google.com/u/0/115852383672350701644/posts"></a><i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:#1dcaff"></i>
        <i class="fa fa-google-plus fa-2x" aria-hidden="true" style="color:#d34836"></i>
        <i class="fa fa-instagram fa-2x" aria-hidden="true" style="color:#125688"></i>
    </div>
</div>