*
{
	margin: 0px;
	padding: 0px;
	border: none;
}
h2,h3 {
        color:#efc7c7;

   }

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #FBF9EF;
	padding: 60px 6% 0px 6%;
}

#container
{
	float: left;
}

.navbar-brand {
    padding-top: 5px;
}

#brand {
    display:inline-block;
}

/*#promotion
{
	height: 300px; 
	width: 700px; 
	background: url(/Assets/images/home-showcase.png) no-repeat;
}*/

ul li a
{
	font-size: 16px;
}

#main
{
	overflow: hidden;
	padding: 0 0 15px 10px;
	float: left;
}

ul
{
	list-style-type: square;
	margin-left: 25px;
	font-size: 14px;
}
.description{
    color: #ffffff;
}